<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid d-flex min-vh-100 flex-column">
	<!-- I want this container to stretch to the height of the parent -->
	<div class="row d-flex justify-content-between p-3 titre">
	  <h1>Surface/Silhouette</h1>
	  <h1><a class = 'glyph' href="{% url 'surface-add' %}"><span class="fa fa-plus"></span></a></h1>
	</div>
  
	<div class="row">
		<div class="col"  id = 'liste-surfaces'>
			{% for surface in surfaces %}
			<div class = 'list-group-item item-liste'>
				<h3>
					<a href="{% url 'surface-update' pk=surface.pk %}" class="list-glyph">
						<span class="far fa-pen-to-square"></span>
					</a>
					<a href="{% url 'surface-delete' pk=surface.pk %}" class="list-glyph">
						<span class="far fa-trash-can"></span>
					</a>
					<a href="{% url 'surface-play' pk=surface.pk %}">
					<i>	{{ surface.name }} </i>
					</a>
				</h3>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}