<!-- templates/home.html -->
{% extends "base.html" %}
{% load json_filter %}

{% block content %}
<div class="container-fluid d-flex min-vh-100 flex-column">
	<!-- I want this container to stretch to the height of the parent -->
	<div class="row d-flex justify-content-between p-3 titre">
		<h1>{{ surface.name }}</h1>
		<h1><a id='home-link' href="{% url 'surfaces' %}" class="glyph"><span class="fa-regular fa-rectangle-list"></span></a></h1>
  	</div>
	<div class="row p-4">
		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" action="" value="Yes, delete." />
		</form>
	</div>
</div>
{% endblock content %}