<!-- templates/home.html -->
{% extends "base.html" %}
{% load json_filter %}

{% block content %}
<div class = 'titre'>
  <h1>{{ object.name }} = Silhouette</h1>
  <a id='home-link' href="{% url 'surfaces' %}" class="glyph"><span class="fa fa-home"></span></a>
</div>
<div class = "content-container" style = "margin-left: 10%;">
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
  </div>
  {% endblock content %}