<!-- templates/about.html -->
{% extends "base.html" %}
{% load json_filter %}

{% block content %}

<div id="box" style="width:500px; height:500px; border: 5px solid black">
  <svg id="c">
    <g id="svg" transform="translate(0) scale(1)">
      {% for line in lines %}
        <polyline points = "{{ line }}" fill="none" stroke="black" stroke-width=".006%"/>
      {% endfor %}
    </g>
  </svg>
</div>


<script>
  const svg = document.getElementById('svg');
  const width = svg.parentElement.clientWidth
  const height = svg.parentElement.clientHeight

  scaleX = width/(2*{{ radius }})  // de coordonnées surface en pixels
  scaleY = -height/(2*{{ radius }}) // signe moins pour que y soit dirigé vers le haut
  transX = width/2 - {{ center.0 }} * width/(2*{{ radius }})
  transY = height/2 + {{ center.1 }} * height/(2*{{ radius }})
  console.log(scaleX, scaleY, transX, transY)
  svg.transform.baseVal.getItem(1).setScale(scaleX, scaleY);
  svg.transform.baseVal.getItem(0).setTranslate(transX, transY);
 </script>
{% endblock content %}